/*------------------------------------------------------- Font ------------------------------------------------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --main-bg-color: #000000;
    --secondary-bg-color: #007092;
    --bleu-fonce: #003545;
    --bleu-clair: #e2f4ff;
    --palette-rouge: #e60000;
    --palette-orange: #faae16;
    --gris-clair: #e7e7e7;
    --blanc: #fff;
    --noir: #000;
    --font-primary: "poppins";
}
body {
    overflow-x: hidden;
}
* {
    font-family: "poppins";
    list-style-type: none;
}

/*------------------------------------------------------- BACK OFFICE ------------------------------------------------------------------ */
#picture-profil {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    object-fit: cover;
}

#picture-admin {
    width: 70px;
    height: 70px;
}

#picture-categorie {
    width: 100px;
    height: 100px;
}

/*------------------------------------------------------- HEADER ------------------------------------------------------------------ */

#logo {
    width: 112px;
    height: 64px;
    object-fit: cover;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.navbar li {
    list-style-type: none;
}
.navbar a {
    text-decoration: none;
    color: var(--blanc);
    font-family: "poppins";
}
.list-nav {
    display: flex;
}

.item-nav a {
    text-decoration: none;
}

.link-nav {
    list-style-type: none;
}

#guest {
    display: flex;
    gap: 15px;
    text-align: center;
    margin-right: 82px;
}

#flex-mid {
    display: flex;
    gap: 25px;
}

.item-nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

#user {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#user li {
    justify-content: center;
}

iconify-icon {
    color: var(--blanc);
}

.outils {
    display: flex;
    gap: 25px;
}
#panier {
    display: flex;
    align-items: center;
}
#panier > li > a {
    position: relative;
}

#panier-badge {
    background-color: var(--palette-rouge);
    color: var(--blanc);
    border-radius: 50%;
    position: absolute;
    bottom: 22px;
    left: 21px;
    font-family: var(--font-primary);
    padding: 3px 8px;
    font-size: 12px;
    text-align: center;
}

/* Styles pour les nombres à deux chiffres */
#panier-badge.two-digits {
    padding: 7px 8px;
}

#panier-badge.three-digits {
    padding: 11px 10px;
}

/*------------------------------------------------------- HEADER ------------------------------------------------------------------ */

.categorie {
    display: grid;
    grid-template-columns: 366px 366px 366px;
    justify-content: center;
}
.element-cat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.element-cat img {
    width: 260px;
    height: 289px;
}

.element-cat h2 {
    font-size: 30px;
    font-weight: 800;
}

.nos-produits {
    display: grid;
    grid-template-columns: 264px 264px 264px 264px;
    gap: 50px;
    padding: 0 150px;
    margin-top: 60px;
    margin-bottom: 100px;
}

.produit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    gap: 15px;
}
.bouton-cart {
    position: absolute;
    width: 40px;
    height: 42px;
    bottom: 25px;
    right: 14px;
    background-color: red;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.img-box {
    display: flex;
    justify-content: center;
}
.title-h1 {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    font-family: var(--font-primary);
    margin-top: 150px;
    margin-bottom: 90px;
}
.title-h2 {
    padding-left: 150px;
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 27px;
    color: var(--secondary-bg-color);
}
.h2-flex {
    display: flex;
    padding-right: 150px;
    justify-content: space-between;
}
.h2-flex a {
    text-decoration: none;
}

.element-prd li a {
    text-decoration: none;
    text-align: left;
    color: var(--secondary-bg-color);
    font-size: 17px;
    font-weight: 500;
}
.element-prd li p {
    text-align: left;
    color: var(--secondary-bg-color);
    font-size: 17px;
    font-weight: 500;
}
.element-prd img {
    width: 225px;
    height: 225px;
}

.sugestion {
    display: grid;
    grid-template-columns: 264px 264px 264px 264px;
    gap: 50px;
    padding: 0 150px;
    margin-top: 60px;
}

/*------------------------------------------------------- Footer ------------------------------------------------------------------ */

.footer {
    display: grid;
    grid-template-rows: 139px 203px 62px;
    width: 100%;
    background-color: var(--main-bg-color);
    color: var(--blanc);
    font-family: var(--font-primary);
    margin-top: 181px;
}
.footer > li {
    list-style-type: none;
}
.footer li a {
    text-decoration: none;
    color: var(--blanc);
}
.footer-top {
    background-color: var(--gris-clair);
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsletter {
    gap: 137px;
    align-items: center;
}

#title-newsletter {
    font-size: 26px;
    font-weight: bold;
    color: var(--secondary-bg-color);
}
#icn-send .spin {
    transform: rotate(315deg);
}

.form-newsletter {
    position: relative;
}
.form-newsletter input {
    height: 63px;
    width: 388px;
    border-radius: 20px;
    background-color: var(--palette-rouge);
    border: 1px solid white;
    color: var(--blanc);
}
.form-newsletter a {
    position: absolute;
    top: 20px;
    right: 20px;
}
.form-newsletter ::placeholder {
    color: var(--blanc);
    opacity: 1;
    font-weight: 200;
    font-style: italic;
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
    text-align: center;
}
input:focus::placeholder {
    color: transparent;

    padding: 10px;
}

input:focus {
    caret-color: transparent;
    padding-left: 8px; /* Ajoutez le padding souhaité */
}

.footer-mid {
    margin-top: 90px;
    padding: 0 303px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-mid ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-mid ul li {
    text-align: left;
    font-size: 13px;
}
#title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-bottom {
    padding: 0 303px;
    margin-top: 151px;
}
.footer-bottom ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-size: 13px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 266px;
    background-color: #f2f2f2;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 30px;
    margin-left: 71px;
}

.search-input {
    flex: 1;
    border: none;
    padding: 8px;
    background-color: transparent;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.search-icon {
    width: 20px;
    margin: 5px;
}

.mon-bouton {
    height: 59px;
    width: 217px;
    left: 893px;
    top: 636px;
    border-radius: 10px;
    background-color: #261a21;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: 600px;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
}

.search-baro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 503px;
    background-color: #f2f2f2;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 385px;
}

.search-inputo {
    flex: 1;
    border: none;
    padding: 8px;
    background-color: transparent;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.monbouton {
    width: 163.28px;
    height: 46px;
    left: 649.11px;
    top: 1133px;
    background: #000000;
    border-radius: 10px;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: white;
    text-align: center;
}

/*------------------------------------------------------- code en double ------------------------------------------------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

header {
    background-color: black;
    height: 109px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 139px;
    margin-left: 67px; /* Ajuster l'espacement entre le logo et les icônes */
}

.svgi {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    width: 30px;
    margin-top: 27px;
    margin-right: 61px;
    gap: 53px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 266px;
    background-color: #f2f2f2;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 30px;
    margin-left: 71px;
}

.search-input {
    flex: 1;
    border: none;
    padding: 8px;
    background-color: transparent;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.search-icon {
    width: 20px;
    margin: 5px;
}

.mon-bouton {
    height: 59px;
    width: 217px;
    left: 893px;
    top: 636px;
    border-radius: 10px;
    background-color: #261a21;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: 600px;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
}

.title {
    height: 244px;
    width: 306px;
    left: 894px;
    top: 392px;
    position: absolute;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 80px;
    font-weight: 600;
    line-height: 94px;
    letter-spacing: 0em;
    text-align: left;
}

.sub {
    height: 66px;
    width: 502px;
    left: 894px;
    top: 514px;
    position: absolute;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
}

.ligne-container {
    position: relative;
    overflow: hidden;
}

.ligne-gauche::before,
.ligne-droite::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 50%;
    border-top: 2px solid black;
}

.ligne-gauche::before {
    right: 60%;
}

.ligne-droite::before {
    left: 60%;
}

h1 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-top: 50px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 50px;
}
.container {
    height: 100%;
}

.image-container {
    width: 394px;
    height: 165px;
    left: 62px;
    top: 95px;
}

.produit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    gap: 15px;
}

.produit img {
    width: 248px;
    height: 165px;
    height: auto;
}

.produit h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.produit .prix {
    font-weight: bold;
}

.all-products {
    display: flex;
    justify-content: space-around;
    margin-bottom: 102px;
}
.bouton {
    width: 183px;
    height: 44px;
    left: 170px;
    top: 402px;
    background: #261a21;
    border-radius: 10px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
}

.rond {
    width: 43px;
    height: 42px;
    background-color: #000000;
    border-radius: 50%;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
}

.prix {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 29px;
    text-align: center;
}

.all-contain {
    margin-top: 20px;
}

.categorie {
    display: flex;
    justify-content: space-around;
    margin-top: 152px;
}

.before-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 93px;
}

.produit .img-blocko {
    width: 60%;
}

.prixo {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 29px;
    text-align: center;
    color: black;
}

.footer {
    background-color: #1e1e1e;
}
h3 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: white;
    margin-top: 30px;
}

.contenu {
    display: flex;
    align-items: center;
}

.photo {
    margin-right: 20px;
}

.photo img {
    width: 100%; /* Ajustez cette valeur en fonction de vos besoins */
    height: auto;
}

.infos {
    margin-right: 20%;
}

.infos h2 {
    margin-bottom: 10px;
}

.infos hr {
    border: none;
    border-top: 2px solid black;
    margin: 12px 0;
    width: 155%;
}

.prix {
    font-weight: bold;
}

.produititle {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin-left: 50px;
    text-align: center;
}

.back {
    width: 100%;
    object-fit: cover;
    height: 100vh;
}

.center {
    text-align: center;
}

.infoss {
    text-align: center;
    margin: 0 auto;
    width: 90%; /* Vous pouvez ajuster la largeur selon vos besoins */
}

.produititle {
    font-size: 24px;
}

.ptitle {
    font-size: 18px;
}

.prixI {
    font-size: 14px;
    text-align: center;
}

.hr-center {
    width: calc(100% - 16px); /* Ajuste la largeur de la ligne horizontale */
    height: 3px; /* Ajuste la hauteur de la ligne horizontale */
    background-color: black; /* Couleur de la ligne horizontale */
    margin: 10px 8px; /* Ajuste la marge selon vos besoins */
}

.inline {
    display: inline;
    margin: 0;
    padding: 0;
}
.butttton {
    display: flex;
    margin-top: 40px;
    gap: 30px;
}
.input {
    width: 234px;
    color: rgb(36, 35, 42);
    font-size: 16px;
    line-height: 20px;
    min-height: 28px;
    border-radius: 4px;
    padding: 8px 16px;
    border: 2px solid transparent;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    background: rgb(251, 251, 251);
    transition: all 0.1s ease 0s;
    :focus {
        border: 2px solid rgb(124, 138, 255);
    }
}
.section {
    gap: 20px;
}
.mdp {
    text-align: center;
    gap: 20px;
}

.email {
    text-align: center;
    margin: 30px;
}

.btn-sidentifier {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 12px; /* Réduisez la taille de la police */
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow,
        filter;
    transition-duration: 0.3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 120px; /* Réduisez la largeur minimale */
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 12px 10px 14px; /* Réduisez le rembourrage */
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 40px; /* Réduisez la hauteur */

    :hover {
        color: #fff;
        background-color: #616467;
    }
}

.submit-connect {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 12px; /* Réduisez la taille de la police */
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow,
        filter;
    transition-duration: 0.3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 120px; /* Réduisez la largeur minimale */
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 12px 10px 14px; /* Réduisez le rembourrage */
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 40px; /* Réduisez la hauteur */

    :hover {
        color: #fff;
        background-color: #616467;
    }
}
.connect {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
}

.subscribe {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
}

.form-control {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 35px;
}

.produititle {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;

    text-align: center;
}

.prixI {
    font-size: 20px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-left: 88px;
}

.ptitle {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infos {
    margin-right: 20%;
}

.photo {
    margin-right: 20px;
}

.infos hr {
    border: none;
    border-top: 2px solid black;
    margin: 12px 0;
    width: 155%;
}

.color {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
}

.desc {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
}

.forbuttons {
    margin-left: 83px;
    margin-top: 25px;
}

.nos-produits-populaire {
    display: flex;
    align-items: baseline;
    gap: 40px;
    justify-content: space-evenly;
}

.produit-populaire {
    margin-top: 100px;
}

h1 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-top: 50px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 50px;
}

.ligne-container {
    position: relative;
    overflow: hidden;
}

.ligne-gauche::before,
.ligne-droite::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 50%;
    border-top: 2px solid black;
}

.ligne-gauche::before {
    right: 60%;
}

.ligne-droite::before {
    left: 60%;
}

a {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.prix-promo {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 29px;
    text-align: center;
}
